<form [formGroup]="searchEmployeeForm" (ngSubmit)="onSubmit()" >
    <section  id="main-section-searchline">
      <table id="main-table-selector">
        <thead>
          <tr style="color: rgb(110,144,161);">
            <th ><label for="sparePartCode">Employee Name</label></th>
            <th><label for="hsnCode">Employee Code</label></th>
            <th><label for="sparePartDesc">Site Master ID</label></th>
            <th><label for="sparePartGroup">Contact</label></th>
            <th><label for="rate">Address</label></th>
            <th><label for="active_id">Designation</label></th>
            <th><label for="active_id">Department</label></th>
            <th><label for="active_id">Created By</label></th>
            <th><label for="active_id">Created Date</label></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <input formControlName="emp_name" type="text" name="emp_name"  class="form-control" id="search_emp_name" placeholder="Name" >
            </td>
            <td>
                <input formControlName="emp_code" type="text"  name="emp_code"  class="form-control" id="search_emp_code" placeholder="Code"> 
            </td>
            <td>
                <input formControlName="site_master_id" type="text" name="site_master_id"  class="form-control" id="search_site_master_id" placeholder="Site Master ID" >
            </td>
            <td>
                <input formControlName="contact" type="text" name="contact"  class="form-control" id="search_contact" placeholder="Contact">
            </td>
            <td>
                <input formControlName="address" type="text" name="address"  class="form-control" id="search_address" placeholder="Address">
            </td>
            <td>
                <input formControlName="designation" type="text" name="designation"  class="form-control" id="search_designation" placeholder="Designation" >
            </td>
            <td>
                <input formControlName="department" type="text" name="department"  class="form-control" id="search_department" placeholder="Department"> 
            </td>
            <td>
                <input formControlName="created_by" type="text"  name="created_by"  class="form-control" id="search_created_by" placeholder="Created By" > 
            </td>
            <td>
                <input formControlName="created_date" type="text"  name="created_date"  class="form-control" id="search_created_date" placeholder="Created Date" > 

            </td>
            <td class="button ext-center pt-1">
              <button class="text-center m-2" id="main-button-search_employee" type="submit"><i class="fa fa-search"></i> Search</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
</form>
   