<h3>Spare Part</h3>
<ul>
    <li>    {{sparePart.created_date}}</li>
    <li>    {{sparePart.hsn_code}}</li>
    <li>    {{sparePart.photo}}</li>
    <li>    {{sparePart.rate}}</li>
    <li>    {{sparePart.remarks}}</li>
    <li>    {{sparePart.spare_part_code}}</li>
    <li>    {{sparePart.spare_part_desc}}</li>
    <li>    {{sparePart.uom}}</li>
    <li>    {{sparePart.spare_part_group}}</li>
    <li>    {{sparePart.material_master_id}}</li>
</ul>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Update Spare Part</button>

<app-edit-spare-part [sparePart]="sparePart" (onUpdateSparePart)="updateSparePart($event)" ></app-edit-spare-part>



