<button type="button" class="btn btn-primary button" data-toggle="modal"  attr.data-target="#{{ sparePart.material_master_id }}" data-whatever="@getbootstrap" data-backdrop="false"><i class="fa fa-edit"></i></button>

<div class="modal fade" attr.id="{{ sparePart.material_master_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit SparePart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
         <form  [formGroup]="sparePartForm" (ngSubmit)="onSubmit()">     
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Spare Part Code</label>
            <input formControlName="sparePartCode" type="text"  name="sparePartCode"  class="form-control" id="recipient-name" > 
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">HSN code</label>
            <input formControlName="hsnCode" type="text" name="hsnCode"  class="form-control" id="recipient-name" >
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Description</label>
            <input formControlName="sparePartDesc" type="text" name="sparePartDesc"  class="form-control" id="recipient-name">
          </div>
          <div class="form-row">
            <div class="col">
                <div class="mb-3" style="margin-top:20px;">
                    <label>Region</label>
                    <select id="disabledSelect" class="form-select">
                        <option>NORTH JAMMU</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3" style="margin-top:20px;">
                  <label>Reproting Manager</label>
                  <select id="disabledSelect" class="form-select">
                      <option>SUSHIL KUMAR</option>
                      <option>NANDAN ORAON</option>
                      <option>CHARANJEET SINGH WALIYA</option>
                  </select>
              </div>
            </div>
        </div>
          <button type="submit" class="btn btn-primary">Send message</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- 
<form class="form" style="width:1000px; margin-left:auto; margin-right:auto;">
  <div class="form-row">
    <div class="col">
      <label>Employee Code</label>
      <input type="text" class="form-control" placeholder="5609">
    </div>
    <div class="col">
      <label>Employee Name</label>
      <input type="text" class="form-control" placeholder="KRISHAN KUMAR">
    </div>
  </div>
  <div class="form-row">
      <div class="col">
        <label>Employee Nick Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="col">
        <label>Official Email</label>
        <input type="text" class="form-control" placeholder="KRISHARN.ACIL@GMAIL.COM">
      </div>
  </div>
  <div class="form-row">
      <div class="col">
          <div class="mb-3" style="margin-top:20px;">
              <label>Region</label>
              <select id="disabledSelect" class="form-select">
                  <option>NORTH JAMMU</option>
              </select>
          </div>
      </div>
      <div class="col">
          <div class="mb-3" style="margin-top:20px;">
            <label>Reproting Manager</label>
            <select id="disabledSelect" class="form-select">
                <option>SUSHIL KUMAR</option>
                <option>NANDAN ORAON</option>
                <option>CHARANJEET SINGH WALIYA</option>
            </select>
        </div>
      </div>
  </div>
  <div class="form-row">
      <div class="col">
          <div class="mb-3">
              <label>Destination</label>
              <select id="disabledSelect" class="form-select">
                  <option>MECH.FOREMAN</option>
              </select>
          </div>
      </div>
      <div class="col">
          <div class="mb-3">
              <label>Department</label>
              <select id="disabledSelect" class="form-select">
                  <option>P&M</option>
                  <option>MECHANICAL</option>
              </select>
          </div>
      </div>
  </div>
  <div class="form-row">
      <div class="col">
        <label>Office Location</label>
        <input type="text" class="form-control" placeholder="AIIMS JAMMU">
      </div>
      <div class="col">
          <div class="mb-3">
              <label>Status</label>
              <select id="disabledSelect" class="form-select">
                  <option>Active</option>
                  <option>Inactive</option>
              </select>
          </div>
      </div>
  </div>
  <label for="exampleFormControlFile1">Attach File</label>
  <input type="file" class="form-control-file" id="exampleFormControlFile1">
  <button type="submit" class="btn btn-primary" style="margin-top:15px;">Submit</button>
</form> -->