
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit SparePart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form [formGroup]="sparePartForm" (ngSubmit)="onSubmit()">     
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Spare Part Code</label>
            <input formControlName="sparePartCode" type="text"  name="sparePartCode"  class="form-control" id="recipient-name" value="{{sparePart.spare_part_code}}"> 
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">HSN code</label>
            <input formControlName="hsnCode" type="text" name="hsnCode"  class="form-control" id="recipient-name" value="{{sparePart.hsn_code}}" >
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Description</label>
            <input formControlName="sparePartDesc" type="text" name="sparePartDesc"  class="form-control" id="recipient-name" value="{{sparePart.spare_part_desc}}">
          </div>
          <button type="submit" class="btn btn-primary">Send message</button>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

<!-- value={{ sparePart.spare_part_code}}
value={{ sparePart.hsn_code}}
value={{ spare_part.spare_part_desc}} -->