
 <table mat-table [dataSource]="aircrafts" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="demo-position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let aircraft"> {{aircraft.material_aircraft_id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="demo-name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let aircraft"> {{aircraft.aircraft_name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="demo-weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let aircraft"> {{aircraft.remarks}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="demo-symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let aircraft"> {{aircraft.created_by}} </td>
      </ng-container>

      <ng-container matColumnDef="demo-symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let aircraft"> {{aircraft.created_date}} </td>
      </ng-container>

      <ng-container matColumnDef="demo-button">
        <th mat-header-cell *matHeaderCellDef> Button </th>
        <td mat-cell *matCellDef="let aircraft"><app-edit-aircraft [aircraft]="aircraft" (onUpdateaircraft)="updateaircraft($event)" ></app-edit-aircraft> </td>
      </ng-container>

      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <app-add-aircraft (onCreateaircraft)="createTask($event)"></app-add-aircraft>
