<section id="main-section-namepageline">
  <h1 style="text-align:center;">Spare Part</h1>
</section>

<section class="ml-3 mr-3 pt-0 mt-0" style="background-color: white">
 <div class="spare-part">
   <div class="spare-part__add">
    <app-add-spare-part (onCreateSparePart)="createTask($event)"></app-add-spare-part>
   </div>
   <div class="spare-part__table">
    <table mat-table [dataSource]="spareParts" class="mat-elevation-z1 demo-table">
      <!-- Position Column -->
      <ng-container matColumnDef="spare_part_code">
          <th mat-header-cell *matHeaderCellDef>Spare Part Code</th>
          <td mat-cell *matCellDef="let sparePart"> {{sparePart.spare_part_code}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="spare_part_desc">
          <th mat-header-cell *matHeaderCellDef>Spare Part Description</th>
          <td mat-cell *matCellDef="let sparePart"> {{sparePart.spare_part_desc}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="hsn_code">
          <th mat-header-cell *matHeaderCellDef>HSN Code</th>
          <td mat-cell *matCellDef="let sparePart"> {{sparePart.hsn_code}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="spare_part_group">
          <th mat-header-cell *matHeaderCellDef>Spare Part Group</th>
          <td mat-cell *matCellDef="let sparePart"> {{sparePart.spare_part_group}} </td>
        </ng-container>
  
        <ng-container matColumnDef="rate">
          <th mat-header-cell *matHeaderCellDef>Rate</th>
          <td mat-cell *matCellDef="let sparePart">{{sparePart.rate}}</td>
        </ng-container>
        
        <ng-container matColumnDef="uom">
          <th mat-header-cell *matHeaderCellDef>Unit</th>
          <td mat-cell *matCellDef="let sparePart">{{sparePart.uom}}</td>
        </ng-container>
<!-- {{sparePart.active_id}} -->
        <ng-container matColumnDef="active_id">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let sparePart" [ngClass]="sparePart.active_id === 1? 'active': 'deactive'">Active</td> 
        </ng-container>
        
        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef>Update</th>
          <td mat-cell *matCellDef="let sparePart"><app-edit-spare-part [sparePart]="sparePart" (onUpdateSparePart)="updateSparePart($event)" ></app-edit-spare-part></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
   </div>
</div>
</section>