<section class="text-center p-3" style="background-color: rgba(177,192,199);">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </section>
  
  
    <div class="text-center p-3 d-flex flex-row-reverse" style="background-color: rgba(177,192,199);">
      <button><i class="fa fa-reply px-2" style="font-size:36px"></i></button>
      <button><i class="fas fa-sync-alt px-2" style="font-size:36px"></i></button>
      
    </div>

    
    <section class="ml-3 mr-3 pb-0 "  id="main-section-searchline" >
      <!-- Details -->
      <!-- Address -->
      <!-- Materials & Tax -->
      <div  >
        <table class="main-table-orderinfo">
          <thead>
            <tr class="main-table-columnname" style="background-color: rgb(110,144,161);" >
              <th >S.No</th>
              <th >PART NUMBER</th>
              <th >ALTERNATE PART NUMBER</th>
              <th >QUANTITY REQUESTED</th>
              <th >TYPE OF AIRCRAFT</th>
              <th >AIRCRAFT REGISTRATION / SHOP TYPE</th>
              <th >QUANTITY ORDERED</th>
              <th >UNIT PRICE</th>
              <th >TOTAL PRICE</th>
              <th >DESTINATION</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1.</th>
              <td class="dropdown">
                <div class="input-group">
                <input class="form-control input-lg" aria-label="Text input with dropdown button">
                <div class="input-group-append">
                  <button type="button" class="btn  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">Sample</a>
                  </div>
                </div>
              </div>
              </td>
              <td><input class="form-control input-lg"></td>
              <td><input class="form-control input-lg"></td>
              <td><div class="input-group">
                <input class="form-control input-lg" aria-label="Text input with dropdown button">
                <div class="input-group-append">
                  <button type="button" class="btn  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">Sample</a>
                  </div>
                </div>
              </div></td>
              <td><div class="input-group">
                <input class="form-control input-lg" aria-label="Text input with dropdown button">
                <div class="input-group-append">
                  <button type="button" class="btn  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">Sample</a>
                  </div>
                </div>
              </div></td>
              <td><input class="form-control input-lg"></td>
              <td><input class="form-control input-lg"></td>
              <td><input class="form-control input-lg"></td>
              <td><input class="form-control input-lg"></td>
              <td><button (click) ="addRow()"><i class="fa fa-plus-circle" style="font-size:24px"></i></button></td>
              <td><a><i class="fa fa-minus-circle" style="font-size:24px"></i></a></td>
            </tr>
          </tbody>
        </table>   
      </div>
    
    
      <div >
        <table class="main-table-orderinfo">
          <thead>
            <tr class="main-table-columnname" style="background-color: rgb(110,144,161);">
              <th style="width: 5px;" >S.No</th>
              <th scope="col">Tax & Duties</th>
              <th scope="col">Tax Description</th>
              <th scope="col">Tax Rate</th>
              <th scope="col">Tax Amount</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
    
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1.</th>
              <td><div class="input-group">
                <input class="form-control input-lg" aria-label="Text input with dropdown button">
                <div class="input-group-append">
                  <button type="button" class="btn  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">Sample</a>
                  </div>
                </div>
              </div></td>
              <td><i class="fa fa-plus-circle" style="font-size:24px"></i></td>
              <td><input class="form-control input-lg"></td>
              <td><input class="form-control input-lg"></td>
              <td><input class="form-control input-lg"></td>
              <td><button (click) ="addRow()"><i class="fa fa-plus-circle" style="font-size:24px"></i></button></td>
              <td><a><i class="fa fa-minus-circle" style="font-size:24px"></i></a></td>
            </tr>
          </tbody>
        </table>   
      </div>
    
    
      <!-- Terms $ Condition -->
      <!-- File attachment -->
    
    
    </section>
     
  

    <section class="text-center p-3" style="background-color: rgba(177,192,199);">
  
      <p class="footer-p-companyinfo">studio@tracecost.com</p>
      <p class="footer-p-companyinfo">011- 26899274, +91-9999126111, +1-403 988 0111</p>
      <p class="footer-p-companyinfo">Canada: 145-3553 31 St NW, Calgary, AB T2L 2K7</p>
      <p class="footer-p-companyinfo">India: 352, Bhanu Pratap Estate, Sultanpur, Delhi 30</p>
      <p class="footer-p-companyinfo">© 2021 Tracecost</p>
      
    </section>
    
  
    <table>
      <tbody>
      <tr >
      <td> Server Name:&nbsp;&nbsp;&nbsp;&nbsp; {{order.serverName}}</td>
      <td> &nbsp;&nbsp;&nbsp;&nbsp;Subtotal: &nbsp;{{order.subtotal}}</td>
      <td> &nbsp;&nbsp;&nbsp;&nbsp;+7% Tax:&nbsp; {{order.tax}}</td>
      <td> &nbsp;&nbsp;&nbsp;&nbsp;Total:&nbsp;{{order.TotalPrice}}</td>
      <p><input type="submit" value="Clear Order" (click)="deleteOrderDetail()"/></p>
    </tr>
  </tbody>
</table>
  