<form  (ngSubmit)="onSubmit()">
      <label for="sparePartCode">sparePartCode</label>
      <input
        type="text"
        name="sparePartCode"
        [(ngModel)]="sparePartCode"
        id="sparePartCode"
        placeholder="code"
      />
      <label for="hsnCode">hsnCode</label>
      <input
        type="text"
        name="hsnCode"
        [(ngModel)]="hsnCode"
        id="hsnCode"
        placeholder="hsnCode"
      />
      <label for="rate">rate</label>
      <input
        type="text"
        name="rate"
        [(ngModel)]="rate"
        id="rate"
        placeholder="rate"
      />
      <label for="uom">uom</label>
      <input
        type="text"
        name="uom"
        [(ngModel)]="uom"
        id="uom"
        placeholder="uom"
      />

  
    <input type="submit" value="add spare part"  >
  </form>
  