<form  (ngSubmit)="onSubmit() ">
  <section class="ml-3 mr-3 pb-0  row "  id="main-section-searchline">
    <table id="main-table-selector">
      <thead>
        <tr style="color: rgb(110,144,161);">
          <th scope="col"><label for="sparePartCode">sparePartCode</label></th>
          <th scope="col"><label for="hsnCode">hsnCode</label></th>
          <th scope="col"><label for="rate">rate</label></th>
          <th scope="col"><label for="uom">uom</label></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input
            class="form-control"
            type="text"
            name="sparePartCode"
            [(ngModel)]="sparePartCode"
            id="sparePartCode"
            placeholder="code"
          /></td>
          <td><input
            class="form-control"
            type="text"
            name="hsnCode"
            [(ngModel)]="hsnCode"
            id="hsnCode"
            placeholder="hsnCode"
          /></td>
          <td><input
            class="form-control"
            type="text"
            name="rate"
            [(ngModel)]="rate"
            id="rate"
            placeholder="rate"
          /></td>
          <td><input
            class="form-control"
            type="text"
            name="uom"
            [(ngModel)]="uom"
            id="uom"
            placeholder="uom"
          /></td>
        </tr>
      </tbody>
    </table>
    <div class="ml-2 pt-5 row align-items-center">
    <button id="main-button-add_spare" type="submit" ><i class="fa fa-plus-circle"> add spare part</i></button>
  </div>
  </section>
  </form>
 