<form [formGroup]="addprojectForm" (ngSubmit)="onSubmit()" >
  <section  id="main-section-searchline">
    <table id="main-table-selector">
      <thead>
        <tr style="color: rgb(110,144,161);">
          <th ><label for="ProjectCode">Project Code</label></th>
          <th><label for="ProjectName">Project Name</label></th>
          <th ><label for="active_id">Status</label></th>
          <th><label for="Enddate">End date</label></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input
            class="form-control"
            type="text"
            name="ProjectCode"
            id="ProjectCode"
            placeholder="code"
            formControlName="project_code"
          /></td>
          <td><input
            class="form-control"
            type="text"
            name="ProjectName"
            id="ProjectName"
            placeholder="Name"
            formControlName="project_name"
            /></td>
          <td><input
            class="form-control"
            type="text"
            name="active_id"
            id="active_id"
            placeholder="active_id"
            formControlName="active_id"
          /></td>
          <td><input
            class="form-control"
            type="text"
            name="Enddate"
            id="Enddate"
            placeholder="End date"
            formControlName="end_date"
          /></td>
          
          <td class="button ext-center">
            <button class="text-center ml-2" id="main-button-add_project" type="submit" [disabled]="!addprojectForm.valid"><i class="fa fa-plus-circle"> Add</i></button>
          </td>
        </tr>
      </tbody>

    </table>

  </section>
  </form>
 






















<!-- <form  (ngSubmit)="onSubmit() ">
  <section class="ml-3 mr-3 pb-0  row "  id="main-section-searchline">
    <table id="main-table-selector">
      <thead>
        <tr style="color: rgb(110,144,161);">
          <th scope="col"><label for="ProjectCode">ProjectCode</label></th>
          <th scope="col"><label for="ProjectName">ProjectName</label></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input
            class="form-control"
            type="text"
            name="ProjectCode"
            [(ngModel)]="ProjectCode"
            id="ProjectCode"
            placeholder="code"
          /></td>
          <td><input
            class="form-control"
            type="text"
            name="ProjectName"
            [(ngModel)]="ProjectName"
            id="ProjectName"
            placeholder="ProjectName"
          /></td>
        </tr>
      </tbody>
    </table>
    <div class="ml-2 pt-5 row align-items-center">
    <button id="main-button-add_project" type="submit" ><i class="fa fa-plus-circle"> add Project</i></button>
  </div>
  </section>
  </form> -->