label {
    margin-bottom: -5px;
}

#addButton {
    margin-top: 10px;
    box-shadow: 0px 0px 0px 2px rgb(110,144,161);
    background-color:rgb(110,144,161);
    display:block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}

#addButton:hover {
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color:#476e9e;
}

#addButton:active {
    position: relative;
    top: 1px;
}