.mat-table {
  margin-top: 2%;
  width:100%;
}

.mat-header-cell {
  background-color: #6e90a1;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: #6e90a1;
  };
  
