  <form [formGroup]="addSparePartForm" (ngSubmit)="onSubmit()" >
    <section  id="main-section-searchline">
      <table id="main-table-selector">
        <thead>
          <tr style="color: rgb(110,144,161);">
            <th ><label for="sparePartCode">Spare Part Code</label></th>
            <th><label for="hsnCode">HSN code</label></th>
            <th><label for="sparePartDesc">Spare Part Desc</label></th>
            <th><label for="sparePartGroup">Spare Part Group</label></th>
            <th><label for="rate">Rate</label></th>
            <th scope="col"><label for="frn_uom">Uom</label></th>
            <th><label for="active_id">Status</label></th>
            <th><label for="photo">photo</label></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input
              class="form-control"
              type="text"
              name="sparePartCode"
              id="sparePartCode"
              placeholder="code"
              formControlName="spare_part_code"
            /></td>
            <td><input
              class="form-control"
              type="text"
              name="hsnCode"
              id="hsnCode"
              placeholder="hsnCode"
              formControlName="spare_part_desc"
              /></td>
            <td><input
              class="form-control"
              type="text"
              name="sparePartDesc"
              id="sparePartDesc"
              placeholder="sparePartDesc"
              formControlName="hsn_code"
            /></td>
            <td><input
              class="form-control"
              type="text"
              name="sparePartGroup"
              id="sparePartGroup"
              placeholder="sparePartGroup"
              formControlName="spare_part_group"
            /></td>
            <td><input
              class="form-control"
              type="text"
              name="rate"
              id="rate"
              placeholder="rate"
              formControlName="rate"
            /></td>
            <td>
              <select  formControlName="frn_uom" id="frn_uom" class="form-control">
                <option *ngFor="let item of uom">{{item.uom}}</option>
              </select>
            </td>
            <td>
            <select  formControlName="active_id" id="active_id" class="form-control">
              <option selected value="1">Active</option>
              <option selected value="0">Deactive</option>
            </select>
            </td>
            <td><input
              class="form-control"
              type="text"
              name="photo"
              id="photo"
              placeholder="photo"
              formControlName="photo"
            /></td>
            <td class="button ext-center">
              <button class="text-center ml-2" id="main-button-add_spare" type="submit" [disabled]="!addSparePartForm.valid"><i class="fa fa-plus-circle"> Add</i></button>
            </td>
          </tr>
        </tbody>

      </table>
 
    </section>
    </form>
   