.form-row {
    display: block;
    width: 40%;
}

.boxed {
    border-style: dashed;
    border-color: #ECECEC;
    border-radius: 15px;
    padding: 1% 1%;
    margin: 10px;
}

label {
    margin-bottom: -1px;
    font-weight: 700;
}

#addButton {
    position: fixed;
    left: 1.5%;   
    box-shadow: 0px 0px 0px 2px rgb(110,144,161);
    background-color:rgb(110,144,161);
    display:block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}

#addButton:hover {
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color:#476e9e;
}

#addButton:active {
    position: relative;
    top: 1px;
}