<form  class="m-3" [formGroup]="fileattachform" (ngSubmit)="onSubmit()">
    <div >


      <div class="form-group">
        <label for="purchase_requisition_number">Eway Bill</label>
        <input formControlName="ewaybill" type="file"  id="ewaybill" placeholder="upload" multiple="multiple"  (change)="onChangeFile($event)">

      </div>
      <div class="form-group ">
        <label for="vendor_id">Invoice</label>
        <input formControlName="invoice" type="file"  id="invoice" placeholder="upload" multiple="multiple"  (change)="onChangeFile($event)">

    </div>

    <div class="form-group ">
        <label for="vendor_id">Other</label>
        <input formControlName="other" type="file"  id="other" placeholder="upload" multiple="multiple"  (change)="onChangeFile($event)">
    </div>
    </div>

    <div class="updateButton">
      <button id="addButton" type="submit" class="button-save" >Submit</button>
    </div>
  </form>