<form  class="m-3" [formGroup]="fileattachform" (ngSubmit)="onSubmit()">
  <div>
    
    <div class="form-row">
      <div class="boxed">
      <label >Purchase details</label>
      <select class='select' formControlName="detail_id" id="detail_id">
        <option value="null" selected >Choose Purchase Detail</option>
        <option *ngFor="let detail of details" [ngValue]="detail.id">{{detail.purchase_requisition_number}}</option>
      </select>
      </div>
      
        <div class="boxed">
          <label for="purchase_requisition_number">Eway Bill</label>
          <input formControlName="ewaybill" class="form-control-file" type="file"  id="ewaybill" placeholder="upload" (change)="onChangeFile($event)">
        </div>
        
        <div class="boxed">
          <label for="vendor_id">Invoice</label>
          <input formControlName="invoice" class="form-control-file" type="file"  id="invoice" placeholder="upload" (change)="onChangeFile($event)">
        </div>
        
        <div class="boxed">
          <label for="vendor_id">Other</label>
          <input formControlName="other" class="form-control-file" type="file"  id="other" placeholder="upload" (change)="onChangeFile($event)">
        </div>
      </div>

      <button id="addButton" type="submit" class="button-save" >Submit</button>
  
    </div>  
</form>