<form  class="m-3" [formGroup]="fileattachform" (ngSubmit)="onSubmit()">
    <div >

      <div>
      <label >Purchase details</label>
      <select class='select' formControlName="detail_id" id="detail_id">
        
        <option value="null" selected >Choose Purchase Detail</option>
        <option *ngFor="let detail of details" [ngValue]="detail.id">{{detail.purchase_requisition_number}}</option>
      </select>
      </div>

      <div class="form-group">
        <label >Eway Bill</label>
        <input formControlName="ewaybill" type="file"  id="ewaybill" placeholder="upload" multiple="multiple"  (change)="onChangeFile($event)">

      </div>
      <div class="form-group ">
        <label >Invoice</label>
        <input formControlName="invoice" type="file"  id="invoice" placeholder="upload" multiple="multiple"  (change)="onChangeFile($event)">
    </div>

    <div class="form-group ">
        <label >Other</label>
        <input formControlName="other" type="file"  id="other" placeholder="upload" multiple="multiple"  (change)="onChangeFile($event)">
    </div>
    </div>

    <div class="updateButton">
      <button id="addButton" type="submit" class="button-save" >Submit</button>
    </div>
  </form>