.footer-p-companyinfo {
    text-align: left;
    margin-bottom: 0%;
    color: white;
}
#main-table-orderinfo {
    
    border-collapse: separate;
    border-spacing:0 20px;
    width: 100%;
	text-align: center;
}
#main-table-orderinfo tr:hover{
    background-color: #ddd;
}

#main-table-orderinfo td{
    border: 1px solid #ddd;
    padding: 8px;
    box-shadow: 0 6px 4px -2px #888888;
	
}
#main-table-orderinfo th{
    padding: 8px;
    box-shadow: 0 6px 4px -2px #888888;
}
#main-table-selector {
    border-collapse: separate;
    border-spacing:0 5px;
    width: 85%;
}

#main-button-search {
	box-shadow: 0px 0px 0px 2px rgb(110,144,161);
	background-color:rgb(110,144,161);
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
#main-button-search:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
#main-button-search:active {
	position:relative;
	top:1px;
}

#main-link-create{
    box-shadow: 0px 0px 0px 2px rgb(110,144,161);
	background-color:rgb(110,144,161);
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;

}

#main-link-create:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
#main-link-create:active {
	position:relative;
	top:1px;
}