form {
    margin-top: 1%;
}

#add-employee-button {
  margin-top: 15px;
  background-color: #6e90a1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: right;
  margin: 10px;
}

.button-save {
  margin-top: 15px;
  background-color: #6e90a1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

h4 {
  margin-bottom: -10px;
}
  
p {
  text-align: center;
}
