<button id="add-employee-button" type="button" data-toggle="modal"  data-whatever="@getbootstrap" data-backdrop="false" data-target="#exampleModalLong"><i class="fa fa-plus"></i>Add Employee</button>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Employee</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()" >
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Employee Code</label>
                  <input formControlName="emp_code" type="text"  name="empCode"  class="form-control" id="recipient-name" > 
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Site Master ID</label>
                    <input formControlName="site_master_id" type="text" name="siteMasterId"  class="form-control" id="recipient-name" >
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Address</label>
                    <input formControlName="address" type="text" name="address"  class="form-control" id="recipient-name" >
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Department</label>
                    <input formControlName="department" type="text" name="department"  class="form-control" id="recipient-name" >
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="form-group">
                <label for="recipient-name" class="col-form-label">Employee Name</label>
                <input formControlName="emp_name" type="text" name="empName"  class="form-control" id="recipient-name" >
                </div>
                <div class="form-group">
                <label for="recipient-name" class="col-form-label">Contact</label>
                <input formControlName="contact" type="text" name="contact"  class="form-control" id="recipient-name" >
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Designation</label>
                    <input formControlName="designation" type="text" name="designation"  class="form-control" id="recipient-name" >
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Remarks</label>
                    <input formControlName="remarks" type="text" name="remarks"  class="form-control" id="recipient-name" >
                </div>
            </div>
          </div>
          <p><button type="submit" class="button-save">Submit</button></p>
        </form>
      </div>
    </div>
  </div>
</div>







