.mat-table {
  margin-top: 2%;
  width: 100%;
}

.mat-header-cell {
  background-color: #6e90a1;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: #6e90a1;
}

td {
  text-align: center;
}

.mat-table {
  border-radius: 10px;
}

.mat-header-cell {
  background-color: #6e90a1;
  text-align: center;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: #6e90a1;
}

.mat-column-spare_part_code {
  white-space: unset !important;
  flex: 1 0 15% !important;
  width: 15%;
}

.mat-column-spare_part_desc {
  white-space: unset !important;
  flex: 1 0 15% !important;
  width: 15%;
}

.mat-column-hsn_code {
  white-space: unset !important;
  flex: 1 0 15% !important;
  width: 15%;
}

.mat-column-spare_part_group {
  white-space: unset !important;
  flex: 1 0 15% !important;
  width: 15%;
}

.mat-column-rate {
  white-space: unset !important;
  flex: 1 0 10% !important;
  width: 10%;
}

.mat-column-uom {
  white-space: unset !important;
  flex: 1 0 10% !important;
  width: 10%;
}

.mat-column-active_id {
  white-space: unset !important;
  flex: 1 0 10% !important;
  width: 10%;
}

.mat-column-view {
  white-space: unset !important;
  flex: 1 0 12% !important;
}

.active {
  color: green;
}

.deactive {
  color: red;
}
