<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="EmployeeCode">EmployeeCode</label>
      <input formControlName="emp_code" type="text" class="form-control" id="EmployeeCode" aria-describedby="EmployeeCode" placeholder="Enter Employee Code">
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input formControlName="password"type="password" class="form-control" id="Password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>