<header>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href='/'><img src="/assets/image/Company-logo.png	"  alt="Responsive image" width="160" /></a>
        <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li *ngIf="employee" class="nav-item" ngbDropdown>
              <a class="nav-link" tabindex="1" ngbDropdownToggle id="navbarDropdown1" role="button"><b>Master</b></a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                <a ngbDropdownItem routerLink="/master/uom" routerLinkActive="deActive" (click)="$event.preventDefault()">UOM</a>
                <a ngbDropdownItem routerLink="/master/spare_part" routerLinkActive="deActive" (click)="$event.preventDefault()">Spare Part</a>
                <a ngbDropdownItem routerLink="/master/project" routerLinkActive="deActive" (click)="$event.preventDefault()">Project</a>
                <a ngbDropdownItem routerLink="/master/employees" routerLinkActive="deActive" (click)="$event.preventDefault()">Employees</a>
                <a ngbDropdownItem routerLink="/master/vendor" routerLinkActive="deActive" (click)="$event.preventDefault()">Vendor</a>
                <a ngbDropdownItem routerLink="/master/aircraft" routerLinkActive="deActive" (click)="$event.preventDefault()">Aircraft</a>
              </div>
            </li>
      
            <li class="nav-item" ngbDropdown>
              <a class="nav-link" tabindex="1" ngbDropdownToggle id="navbarDropdown2" role="button"><b>Purchase</b></a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                <a ngbDropdownItem routerLink="/purchase/detail"><b>Detail</b></a>
                <a ngbDropdownItem routerLink="/purchase/mat_tax"><b>Materials & Tax</b></a>
                <a ngbDropdownItem routerLink="/Purchase_order"><b>Purchase</b></a>  
              </div>
            </li>
      
            <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
              <a routerLink="#" class="nav-link" tabindex="1" id="navbarDropdown3" role="button"><b>Contact</b></a>
            </li>
      
            <!-- <li class="nav-item active px-1">
              <i class="fa fa-book" style="font-size:36px"></i>
            </li> -->
            <!-- <li class="nav-item">
              <i class="fa fa-bell px-1" style="font-size:36px"></i>
      
            </li>
            <li class="nav-item">
              <i class="fa fa-bars px-1" style="font-size:36px"></i>
            </li> -->
            

            <div *ngIf="employee; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <li *ngIf="employee" class="nav-item profile" ngbDropdown>
                <a class="nav-link" tabindex="1" ngbDropdownToggle id="navbarDropdown1" role="button"><b>{{ employee.username}}</b></a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                  <a ngbDropdownItem  (click)="logout()">Logout</a>
                </div>
                <img style="border-radius:50%" width="35" height="35" src="https://ui-avatars.com/api/?background=random&name={{employee.username}}" alt="profile" >
              </li>
            </ng-template>
            <ng-template #elseBlock>
              <li class="nav-item">
                <a  routerLink="/auth/login" (click)="$event.preventDefault()"><i class="fa fa-user px-1" style="font-size:36px"></i></a>
              </li>  
            </ng-template>
            

          </ul>
        </div>
      </nav>

</header>