<form  class="m-3" [formGroup]="addPurhaseDetail" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="purchase_requisition_number">Purchase Requisition No</label>
        <input formControlName="purchase_requisition_number" type="text" class="form-control" id="purchase_requisition_number" placeholder="Purchase Requisition No">
        <app-display-error errorMsg="This field is required" [displayError]="errorhandlers.isFieldValid('purchase_requisition_number')" ></app-display-error>
      </div>
      <div class="form-group col-md-6">
        <label for="vendor_id">Vendor</label>
        <select  formControlName="vendor_id" id="vendor_id" class="form-control">
          <option value="null" selected  disabled>Choose your vendor</option>
          <!-- <option *ngFor="let item of uom" [ngValue]="item.uom_id">{{item.uom}}</option> -->
        </select>
        <app-display-error errorMsg="This field is required" [displayError]="errorhandlers.isFieldValid('vendor_id')" ></app-display-error>
    </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="payment_terms">Payment Terms</label>
        <input formControlName="payment_terms" type="text" class="form-control" id="payment_terms" placeholder="Payment Terms">
        <app-display-error errorMsg="This field is required" [displayError]="errorhandlers.isFieldValid('payment_terms')" ></app-display-error>
      </div>
      <div class="form-group col-md-6">
        <label for="other_reference">Other Reference</label>
        <input formControlName="other_reference" type="text" class="form-control" id="other_reference" placeholder="Other Reference">
        <app-display-error errorMsg="This field is required" [displayError]="errorhandlers.isFieldValid('other_reference')" ></app-display-error>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="transport_mode">Transport Mode</label>
        <input formControlName="transport_mode" type="text" class="form-control" id="transport_mode" placeholder="Transport Mode">
        <app-display-error errorMsg="This field is required" [displayError]="errorhandlers.isFieldValid('transport_mode')" ></app-display-error>
      </div>
      <div class="form-group col-md-6">
        <label for="purchase_order_validity">Purchase Order Validity</label>
        <input formControlName="purchase_order_validity" type="text" class="form-control" id="purchase_order_validity" placeholder="Purchase Order Validity">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="freight_terms">Freight Terms</label>
        <select  formControlName="freight_terms" id="freight_terms" class="form-control" placeholder="asdf">
          <option value="null" selected  disabled>Choose your Term</option>
          <option value="null" selected>FOB Origin</option>
          <!-- <option *ngFor="let item of uom" [ngValue]="item.uom_id">{{item.uom}}</option> -->
        </select>
        <app-display-error errorMsg="This field is required" [displayError]="errorhandlers.isFieldValid('freight_terms')" ></app-display-error>
      </div>
      <div class="form-group col-md-6">
        <label for="insurance">Insurance</label>
        <select  formControlName="insurance" id="insurance" class="form-control">
          <option value="null" selected  disabled>Choose your Insurance</option>
          <option value="null" selected >Insurance</option>
          <!-- <option *ngFor="let item of uom" [ngValue]="item.uom_id">{{item.uom}}</option> -->
        </select>
        <app-display-error errorMsg="This field is required" [displayError]="errorhandlers.isFieldValid('insurance')" ></app-display-error>
      </div>
    </div>  
    <div class="form-group">
      <label for="remarks">Remarks</label>
      <input formControlName="remarks" type="text" class="form-control" id="remarks" placeholder="remarks">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="approval_level_1">Approval Level 1</label>
          <select  formControlName="approval_level_1" id="approval_level_1" class="form-control">
            <option value="null" selected  disabled>Choose your Employee</option>
            <option *ngFor="let employee of employees" [ngValue]="employee.emp_id">{{employee.emp_name}}</option>
          </select>
          <app-display-error errorMsg="This field is required" [displayError]="errorhandlers.isFieldValid('approval_level_1')" ></app-display-error>
        </div>
        <div class="form-group col-md-6">
          <label for="approval_level_2">Approval Level 2</label>
          <select  formControlName="approval_level_2" id="approval_level_2" class="form-control">
            <option value="null" selected  disabled>Choose your Employee</option>
            <option *ngFor="let employee of employees" [ngValue]="employee.emp_id">{{employee.emp_name}}</option>
          </select>
          <app-display-error errorMsg="This field is required" [displayError]="errorhandlers.isFieldValid('approval_level_2')" ></app-display-error>
        </div>
      </div>
    <div class="updateButton">
      <button id="addButton" type="submit" class="button-save" >Submit</button>
    </div>
  </form>