<form [formGroup]="searchUomPartForm" (ngSubmit)="onSubmit()" >
    <section  id="main-section-searchline">
      <table id="main-table-selector">
        <thead>
          <tr style="color: rgb(110,144,161);">
            <th><label for="uom">UOM</label></th>
            <th><label for="remarks">Remarks</label></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input
              class="form-control"
              type="text"
              name="uom"
              id="uom"
              placeholder="uom"
              formControlName="uom"
              /></td>
            <td><input
              class="form-control"
              type="text"
              name="remarks"
              id="remarks"
              placeholder="Someremarks"
              formControlName="remarks"
            /></td>
            <td class="button ext-center">
              <button class="text-center m-2" id="main-button-search_uom" type="submit" [disabled]="!searchUomPartForm.valid">search</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    </form>
   